version: "2"
services:
  patron-web:
    container_name: patron-web
    build: ./
    environment:
      CONFIG_FILE: /config/config.yml
      NODE_ENV: production
    volumes:
      - ./config:/app/config
    ports:
      - 3000:3000
