
$background: #343434;

$pagecolor: var(--pagecolor);
$pagecolorlight: var(--pagecolorlight);
$footercolor: var(--footercolor);

$pagetextcolor: var(--pagetextcolor);
$pagetextcolorlight: var(--pagetextcolorlight);
$highlightcolor: var(--highlightcolor);

$linkcolor: var(--linkcolor);
$linkvisitedcolor: var(--linkvisitedcolor);
$linkhovercolor: var(--linkhovercolor);

$transparentpagecolor: var(--transparentpagecolor);
$semitransparentpagecolor: var(--semitransparentpagecolor);

@import "node_modules/opds-web-client/lib/stylesheets/app.scss";
// @import "book_details";
// @import "book_details_container";
@import "confirmation_popup";
@import "footer";
@import "header";
@import "report_problem_form";
// @import "overrides";

/* Wrapper div that sets CSS variables also needs full height. */
body > div > div {
  height: 100%;
}

* {
  box-sizing: border-box; // for consistent sizing
}