@if variable-exists(logo) {
  .navbar-brand {
    background-image: $logo;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10% center;
    padding-left: 60px;
  }
}

.navbar {
  height: $headerHeight;
  li {
    a {
      cursor: pointer;
    }
  }
}

.search {
  margin-right: 10px;
}