.navbar-brand.with-logo {
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: 4% center;
  padding-left: 60px;
}

.navbar {
  min-height: $headerHeight;
  li {
    a {
      cursor: pointer;
    }
  }
}

.search {
  margin-right: 10px;
}