
// fragile CSS; these are overriding styles from the upstream circulation manager and
// should probably be moved upstream.

.catalog .breadcrumbs-or-search-wrapper .search {
    display: none;
}

.breadcrumb {
    overflow-x: auto;
}

.lane-books {
    overflow: hidden !important;
}

.facet-groups {
    overflow: auto !important;
}

.main, .collection-main {
    overflow-y: visible !important;
}


// get rid of all the scrollbars

.catalog {
    display: block !important;
    height: auto !important;
    background: white !important;
}

.body {
    position: relative !important;
    height: auto !important;
    width: auto !important;
}

.breadcrumbs-or-search-wrapper, .facet-groups {
    display: none !important;
}

.collection {
    display: block !important;
    height: auto !important;
    width: auto !important;

    .collection-container {
        padding: 0 !important;
    }

    .subtle-list li {
        padding: 0;

        a:visited {
            color: inherit;
        }
    }

    .lane-books-container {
        background: white !important;
        padding: 25px 0 !important;
    }

    .lane h2 {
        background: $background;
        padding: 15px 30px;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
    }
}

// lanes

.lane .lane-books {
    height: auto;
}

.grid-view .book, .lane .book {
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 40px;
    border: 2px solid #0000003d;
    border-radius: 15px;
    height: auto;
}

.grid-view .book .compact-info.show-media, .lane .book .compact-info.show-media {
    height: auto;
    display: block;
    position: relative;
    box-shadow: none;
}

.grid-view .book .compact-info.show-media .empty, .lane .book .compact-info.show-media .empty {
    display: none;
}

.grid-view .book .compact-info.show-media .item-details, .lane .book .compact-info.show-media .item-details {
    height: auto !important;
    background: none;
    color: black;
    text-align: center;
    border: none;
    box-shadow: none;
}

.more-link div {
    color: black !important;
}