@import "../../node_modules/opds-web-client/lib/stylesheets/popup";

.problem-form {
  @include popup(400px);

  h3 {
    margin-top: 0px;
  }

  .error {
    color: red;
    margin-top: 1em;
  }

  .form {
    text-align: center;
    margin-top: 1em;

    select {
      width: 200px;
    }
  }

  .submitted {
    margin-top: 1em;
  }
}