$darkgreen: #497049;
$lightgreen: #497049;
$gray: #EBF7EB;
$light: #F2FFF2;
$dark: #535753;

$focuscolor: orange;
$pagecolor: $light;
$pagecolorlight: $gray;
$pagetextcolor: $dark;
$footercolor: $gray;
$highlightcolor: $darkgreen;

// link colors
$linkcolor: $lightgreen;
$linkvisitedcolor: $darkgreen;
$linkhovercolor: lighten($linkcolor, 10%);
$invertedlinkcolor: $light;
$invertedlinkvisitedcolor: darken($invertedlinkcolor, 10%);

$logo: url('openebooks-logo.png');

@import "../stylesheets/app.scss";
@import "./openebooks_login_buttons.scss";