.first-book-button {
  width: 280px;
  height: 51px;
  background-image: url('FirstBookLoginButton280.png');
  background-repeat: no-repeat;
  background-size: 280px 51px;
  background-position: 0 center;
  cursor: pointer;
}

.clever-button {
  width: 280px;
  height: 51px;
  background-image: url('CleverLoginButton280.png');
  background-repeat: no-repeat;
  background-size: 280px 51px;
  background-position: 0 center;
  cursor: pointer;
}