$darkgreen: #497049;
$lightgreen: #497049;
$gray: #EBF7EB;
$light: #F2FFF2;
$dark: #535753;

$focuscolor: orange;
$pagecolor: $light;
$pagecolorlight: $gray;
$pagetextcolor: $dark;
$footercolor: $gray;
$highlightcolor: $darkgreen;

// link colors
$linkcolor: $lightgreen;
$linkvisitedcolor: $darkgreen;
$linkhovercolor: lighten($linkcolor, 10%);
$invertedlinkcolor: $light;
$invertedlinkvisitedcolor: darken($invertedlinkcolor, 10%);

$headerHeight: 100px;

@import 'raleway';
$fontfamily: "Raleway", Helvetica, sans-serif;

$logo: url('openebooks-logo.png');

@import "../stylesheets/app.scss";
@import "./openebooks_login_buttons.scss";

.catalog .navbar {
  .navbar-nav > li > a {
    text-decoration: none;
  }

  .container-fluid, .navbar-header, .navbar-brand {
    height:100%;
  }

  .navbar-collapse {
    @media(min-width: 903px) {
      padding-top: 20px;
    }
  }

  .navbar-nav {
    @media(min-width: 767px) {
      float: right;
    }
  }

  .navbar-brand, .navbar-brand:hover {
    background-size: 98px;
    color: transparent;
  }
}
