@font-face {
  font-family: 'Raleway';
  src: url('Raleway-Regular.eot');
  src: url('Raleway-Regular.woff') format('woff'), url('Raleway-Regular.ttf') format('truetype'), url('Raleway-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
